<div class="row-fluid">
  <div class="span12 div-center text-center width-restrained">
    <% if not @draft_over and @draft %>
    <h1>NFL Draft</h1>
    <br />
    <div class='line-break'></div>
    <h3>Current Team: <%= @draft.team.name  %></h3>
    <h3>Pick Number: <%= @draft.pick  %></h3>
    <br />
    <% if not @drafted.empty? %>
      <br />
      <h3>Previous Picks</h3>
      <table class='previous-table'>
        <thead>
          <tr>
            <th>Team Name</th>
            <th>Player Name</th>
            <th>Position</th>
          </tr>
        </thead>

        <tbody>
        <% @drafted.each do |draft| %>
          <tr>
            <td><%= draft.team.name %></td>
            <td><%= draft.player.name %></td>
            <td><%= draft.player.position %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>
    <br />
    <h3>Upcoming Pick</h3>
    <h4><%= @next.team.name %></h4>
    <br />
  <div class='div-center'>
    <%= button_to "Start Draft", draft_path(@draft), class: 'btn btn-primary', method: :get %>
  </div>
  <% else %>
    <h2>The Draft is Over!</h2>
  <% end %>
  </div>
</div>

